* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 5px;
}

#info {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

h1 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 80px;
  font-family: 'Play', sans-serif;
}

#playerStatus {
  margin-bottom: 35px;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Play', sans-serif;
}

#gameBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
}

td {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 5em;
  border: 1px solid black;
}

span {
  font-size: 1.25em;
}

#player {
  font-size: 1.35em;
}

.disabled {
  cursor: not-allowed;
}

.hidden {
  display: none;
}

#winTxt {
  font-family: 'Play', sans-serif;
}

.whoWon {
  display: flex;
  justify-content: space-evenly;
  font-size: 4em;
  visibility: hidden;
}

.winID {
  font-size: 1.5em;
  color: green;
  font-family: sans-serif;
}

.winCell {
  background-color: lightgreen;
  color: green;
  font-size: 10em;
}


.button {
  border-radius: 60px;
  font-size: 25px;
  padding: 15px;
}

.button:click {
  background-color: darkgray;
  border-radius: 60px;
  font-size: 25px;
  padding: 15px;
}

.activeButton {
  border-radius: 60px;
  font-size: 25px;
  padding: 15px;
  background-color: green;
  box-shadow: 0 0 20px yellow;
}

.activeButton:click {
  border-radius: 60px;
  font-size: 25px;
  padding: 15px;
  background-color: lightgreen;
  box-shadow: 0 0 20px yellow;
}